<!doctype html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=yes">
<meta property="og:url" content="{{share_url}}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Steam YourTags" />
<meta property="og:description" content="generate your favorite game tags" />
<meta property="og:site_name" content="Steam YourTags" />
<meta property="og:image" content="{{tags_src}}" />
<meta name="twitter:card" content="summary_large_image" />
<title>Steam YourTags</title>
<style type="text/css">
html {
  font-size: 28px;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans', 'Meiryo';
}
body *{
  text-align: center;
}
input[type="text"] {
  height: 80px;
  width: 90%;
  font-size: 160%;
}
::placeholder {
  font-size: 50%;
}
img {
  max-width: 100%;
  height: auto;
}
svg {
  max-width: 100%;
  height: auto;
}
ul {
  list-style-type: none;
  padding: 0;
}
</style>
</head>

<body>
<h1><a href="/" title="Steam YourTags">Steam YourTags</a></h1>
<p>
  <img src={{tags_src}}>
</p>
<ul>
  <li>
    <div class="line-it-button" data-lang="en" data-type="share-a" data-env="REAL" data-url="{{share_url}}" data-color="default" data-size="small" data-count="false" data-ver="3" style="display: none;"></div>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-lang=”en” data-show-count="false" data-hashtags="steamtags">Tweet</a>
  </li>
</ul>
<script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>